<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay-A-Pal</title>
    <link rel="stylesheet" href="/css/success.css">
</head>

<body>
    <div class="success-container">
        <h1>Payment Successful!</h1>
        <p class="success-message">Thank you for using Pay-A-Friend</p>
        <a href="/"
            style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #4CAF50; color: #fff; border-radius: 5px; text-decoration: none;">Make
            another payment</a>
    </div>
</body>